.wrapper-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
}

table {
    width: 100%;
}

table .no-data-row {
    height: 198px;
}

.no-data-cell {
    text-align: center;
}

.no-data-cell > span {
    display: block;
    margin-top: 4px;
}

.no-data-cell > span.retry {
    display: block;
    color: var(--color-neptune);
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    background-color: #dedede;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-cell {
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;


}

.mat-cell > .mat-column-productId {
    width: 15%;
}

.mat-column-productId {
    flex: 0 0 18% !important;
    width: 18% !important;
}

.mat-column-productName {
    flex: 0 0 25% !important;
    width: 25% !important;
}

.mat-column-code {
    flex: 0 0 20% !important;
    width: 20% !important;
}

.mat-column-action {
    flex: 0 0 15% !important;
    width: 15% !important;
}