<div class="mat-elevation-z8 auto-scroll">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="productId">
            <th mat-header-cell *matHeaderCellDef>Product Id</th>
            <td mat-cell *matCellDef="let row">{{row.productId}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let row">{{row.productName}}<td>
        </ng-container>

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Code</th>
            <td mat-cell *matCellDef="let row">{{row.code}}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let row">{{row.quantity}}</td>
        </ng-container>

        <!-- {{row.created_at | date}} -->
        <ng-container matColumnDef="dateCreated">
            <th mat-header-cell *matHeaderCellDef>
                Date Created
            </th>
            <td mat-cell *matCellDef="let row">{{row.dateCreated | date}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
                Action
            </th>
            <td mat-cell *matCellDef="let row">
                <button mat-fab color="primary" aria-label=""  (click)="update(row.productId)">
                    <mat-icon style="font-size: 20px">edit</mat-icon>
                </button>
                <button mat-fab color="warn" aria-label="" (click)="delete(row.productId)">
                    <mat-icon style="font-size: 20px">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Row shown when there is no matching data. -->
        <ng-container matColumnDef="noData">
            <td mat-cell class="dc-label no-data-cell" style="text-align: center;" *matCellDef="let row" [attr.colspan]="displayedColumns.length">
                <ng-container *ngIf="!(error$ | async) && !loading">
                    <span class="dc-content">No data available</span>
                </ng-container>

                <ng-container *ngIf="(error$ | async) && !loading">
                    <span class="dc-label">System Failure</span>
                    <span class="retry" (click)="retry()">Retry</span>
                </ng-container>

                <ng-container *ngIf="loading">
                    <span class="dc-label">Retrieving data...</span>
                </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
        <ng-container *ngIf="productTotal && !loading">
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </ng-container>

        <ng-container *ngIf="!productTotal || loading">
        <tr mat-row *matRowDef="let row; columns: ['noData'];" class="no-data-row" ></tr>
        </ng-container>

    </table>

    <mat-paginator #paginator [length]="productTotal" showFirstLastButtons [pageSize]="20"
        (page)="pageEvent = handlePagination($event)"></mat-paginator>
</div>